<div class="row">
    <div class="col-md-12">
        <h3><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Employee</h3>
    </div>
</div>
<div class="row">
    <div class="col-md-2">
        <label>First Name:<span class="mandatory">*</span></label>
    </div>
    <div class="col-md-4">
        <input type="text" class="form-control" name="FirstName">
    </div>
    <div class="col-md-2">
        <label>Last Name:<span class="mandatory">*</span></label>
    </div>
    <div class="col-md-4">
        <input type="text" class="form-control" name="LastName">
    </div>
</div>
<div class="row">
    <div class="col-md-2">
        <label>Email:<span class="mandatory">*</span></label>
    </div>
    <div class="col-md-4">
        <div class="input-group">
            <span class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span></span>
            <input type="text" class="form-control" name="Email">
        </div>
    </div>
    <div class="col-md-2">
        <label>Phone:<span class="mandatory">*</span></label>
    </div>
    <div class="col-md-4">
        <div class="input-group">
            <span class="input-group-addon"><span class="glyphicon glyphicon-phone-alt"></span></span>
            <input type="text" class="form-control" name="Phone">
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-2">
        <label>Birthday:<span class="mandatory">*</span></label>
    </div>
    <div class="col-md-4">
        <div class="input-group">
            <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
            <input type="text" class="form-control" name="Birthday">
        </div>
    </div>
    <div class="col-md-2">
        <label>Department:<span class="mandatory">*</span></label>
    </div>
    <div class="col-md-4">
        <select class="form-control"></select>
    </div>
</div>
<div class="row custom-right">
    <div class="col-md-12">
        <a class="btn btn-info" href="/#employees">Save</a>
        <a class="btn btn-danger" href="/#employees">Cancel</a>
    </div>
</div>